
{:W('Cate/Menu')}

<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="#" class="">
            <h2>最近文章</h2>
           <!-- <span class="am-list-news-more am-fr">更多 &raquo;</span>-->
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">

            <foreach name="top10List" item="v">
            <li class="am-g am-list-item-dated">
                <a href="{:U('article','aid='.$v['id'])}" class="am-list-item-hd ">{$v.title}</a>

                <span class="am-list-date">{$v.ctime|date="y-m-d",###}</span>


            </li>
            </foreach>
        </ul>
    </div>

</div>

<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="#" class="">
            <h2>随机文章</h2>
           <!-- <span class="am-list-news-more am-fr">更多 &raquo;</span>-->
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">
            <foreach name="top10List" item="v">
                <li class="am-g am-list-item-dated">
                    <a href="{:U('article','aid='.$v['id'])}" class="am-list-item-hd ">{$v.title}</a>

                    <span class="am-list-date">{$v.ctime|date="y-m-d",###}</span>


                </li>
            </foreach>
        </ul>
    </div>

</div>